#entetePageConnexion {
    background-color:#2f2f2f;
}

#titrePageConnexion {
    color: #fec816;
    text-align:center;
}

.ui-grid-a {
    
}

tr {
    border: 1px solid #d6d6d6;
}

#selectionDate {
    padding-top: 1em;
}
